<div class="container" style="clear: both;">
  <div class="first-sphere">

  </div>
  <div class="second-sphere">

  </div>
  <div class="third-sphere">

  </div>
  <div class="fourth-sphere">

  </div>
  <div class="fifth-sphere">

  </div>
  <div class='registration-box'>
      <h2 class="title-registration-box" style="color: white; text-shadow: 0px 0px 6px rgba(9,9,121,0.8);">INSERT YOUR DATA:</h2>
      <div class="input-container">
          <div class="left-box-registration">
              <span>Name*:</span>
              <input id="name-input" type="text" placeholder="Insert name (min.3 char)"><br>
              <span>Surname*:</span>
              <input id="surname-input" type="text" placeholder="Insert surname (min.3 char)"><br>
              <span id="gender" style="float: left; margin-right: 130px;">Gender:</span>
              <div class="gender-box">
                  <span class="gender-span">Male:</span>
                  <input id="male-input" class="checkbox" type="checkbox">
                  <span class="gender-span">Female:</span>
                  <input id="female-input" class="checkbox" type="checkbox">
                  <span class="gender-span">Other:</span>
                  <input id="other-input" class="checkbox" type="checkbox">
              </div>
              <div class="middle-box" style="clear: both;"></div>
                <span>Year of birth:</span>
                <input id="yob-input" type="text" placeholder="Insert year"><br>
                <span>User name*:</span>
                <input id="user-name-input" type="text" placeholder="Insert user name">
              </div>
              <div class="right-box-registration">
                  <span>Password*:</span>
                  <input id="password-input" type="password" placeholder="Insert password (min.8 char)"><br>
                  <span>Confirm password*:</span>
                  <input id="confirm-password-input" type="password" placeholder="Insert password (min.8 char)"><br>
                  <span>E-Mail*:</span>
                  <input id="email-input" type="email" placeholder="Insert e-mail"><br>
                  <span>Phone number:</span>
                  <input id="phone-input" type="text" placeholder="Insert phone number"><br>
                  <div class="newsletter-box">
                      <span  class="newsletter-span">Newsletter:</span>
                      <input id="news-letter-input" class="checkbox" type="checkbox">
                  </div>
              </div>
          </div>
          <button id="save-btn" onclick="createUser()">SAVE</button>
          <div id="error-display"></div>
          <span><small>*Required field</small></span>
      </div>

</div>
